img{
    width: 50px;
    height: auto;
}
.fundomenu{
    background-color: rgba(233, 72, 32, 0.836);
}

.minha_fonte{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.preto {
    color: rgba(0, 0, 0, 0.9);
}

.neutro {
    color: antiquewhite;
}

/* Contornos */
.contorno {
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

.neutro-contorno {
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: antiquewhite;
}

/* Tamanhos de texto */
.grande, .grande-contorno, .grande-neutro {
    font-size: 2rem;
    
}

.medio, .medio-contorno, .medio-neutro {
    font-size: 1.5rem;
}

/* Garantindo prioridade sobre Bootstrap */
.carousel-caption .minha_fonte {
    font-family: "Montserrat", sans-serif;
}