img{
    width: 50px;
    height: auto;
}
.fundomenu{
    background-color: rgba(32, 176, 233, 0.836);
}

.minhafonte{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.preto{
  color: rgba(27, 26, 26, 0.904);
}

.contorno{
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.neutro{
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: antiquewhite;
}

.grande{
  font-size: 2rem;
}

.medio{
  font-size: 1.5rem;
}